<div class=" container-fluid form-concert">
<%= form_with(model: [@band, concert]) do |form| %>
  <% if concert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(concert.errors.count, "error") %> prohibited this concert from being saved:</h2>

      <ul>
        <% concert.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<table class="table table-form">
 <thead>
    <tr>
      <td><%= form.label :location %></td>
      <td><%= form.text_field :location %></td>
    </tr>
    <tr>  
      <td><%= form.label :date %></td>
      <td><%= form.date_field :date %></td>
    </tr>

    <tr>
      <td><%= form.label :quantity %></td>
      <td><%= form.number_field :quantity %></td>
    </tr>
    <tr>
      <td><%= form.label :duration %></td> 
      <td><%= form.number_field :duration %></td>
    </tr>
  </thead>
  <% end %>
</table>
</div>