<div class="text-center">
<p id="notice"><%= notice %></p>

<table class="table table-form">
  <thead>
    <tr>
      <th><strong>Location:</strong></th>
      <th><%= @concert.location %></th>
    </tr>

    <tr>
      <th><strong>Date:</strong></th>
      <th><%= @concert.date %></th>
    </tr>

    <tr>
      <th><strong>Quantity:</strong></th>
      <th><%= @concert.quantity %></th>
    </tr>

    <tr>
      <th><strong>Duration:</strong></th>
      <th><%= @concert.duration %></th>
    </tr>
  </thead>
</table>

<%= link_to 'Edit', edit_band_concert_path(@band, @concert), class: 'btn m-5 text-light' %> |
<%= link_to 'Back', band_concerts_path(@band), class: 'btn m-5 text-light' %>
</div>