<div class=" container-fluid form-band">
<%= form_with(model: band) do |form| %>
  <% if band.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(band.errors.count, "error") %> prohibited this band from being saved:</h2>

      <ul>
        <% band.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="table table-form">
    <tr>
      <td><%= form.label :name %></td>
      <td><%= form.text_field :name %></td>
    </tr>

  <tr>
    <td><%= form.label :kind %></td>
    <td><%= form.select :kind, @kinds %></td>
  </tr>

  <tr>
    <td><%= form.label :start_date %></td>
    <td><%= form.date_field  :start_date %></td>
  </tr>

  <%= form.submit class: 'action btn m-5 text-light' %>

  </thead>
  </div>
  <% end %>
</table>  
</div>